<ul #selectLanguageList
    *ngIf="(itemService.selectableLanguages$|async)?.length > 0; else notAvailable">
    <li *ngFor="let language of itemService.selectableLanguages$|async"
        (click)="languageSelected(language)">
        <!-- <div class="{{getFlagIcon(language)}}"></div> -->
        <button class="language-btn"
            mat-raised-button>
            <div class="language">{{language}}</div>
            <!-- <div class="flag {{getFlagIcon(language)}}"></div> -->
        </button>
    </li>
</ul>
<ng-template #notAvailable>
    <p>No other languages available</p>
</ng-template>
<div class="close-container">
    <mat-icon (click)="onClose()"
        class="close">exit_to_app</mat-icon>
</div>
