ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    li {
        button {
            .language {
                display: inline;
                text-transform: capitalize;
            }
            .flag::before {
                display: inline;
                font-size: 36px;
            }
        }
    }
}
