table {
    .name-th {
    }
    .name-td {
    }
    .delete-th,
    .delete-td,
    .stats-th,
    .stats-td,
    .qr-code-th,
    .qr-code-td,
    .details-th,
    .details-td {
        text-align: center;
    }
}
.is-main-item {
    background-color: green;
    color: white;
}
