@import "src/styles";
mat-toolbar {
    display: flex;
    justify-content: flex-end;
    .menu {
        display: flex;
        gap: 1rem;
        .menu-item {
            border: 3px solid blue;
        }
        .link-active {
            border: 3px solid red;
        }
    }
}
