@import "./src/styles";
.preview {
    background-color: $my-white;
    position: relative;
    height: 100%;
    .header {
        background-color: $my-blue;
        color: $my-white;
        height: 3rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .image-container {
        img {
            width: 100%;
        }
    }
    .description {
        padding: 0.5rem;
        overflow: hidden;
        background-color: $my-white;
        height: 100%;
        font-size: 0.9rem;
    }
    .audio-container {
        background-color: $my-black;
        position: absolute;
        bottom: 0px;
        width: 20rem;
    }
}
