<div class="admin-container">


    <div class="location">
        <!-- <div *ngIf="!editItemMode"
            class="header">Creating item in venue: <span>{{venue?.venueName}}</span>
        </div>
        <div *ngIf="editItemMode"
            class="header">venue name: <span> {{venue?.venueName}}</span>
        </div> -->
    </div>


    <div class="item-general">
        <div class="header names"
            *ngIf="editItemMode">
            <div class="venue-name">
                <div class="title"> venue:</div>
                <div>{{venue?.venueName}}</div>
            </div>
            <div class="item-name"
                *ngIf="item">
                <div class="title">item:</div>
                <div>{{item.name}}</div>
            </div>
            <button mat-raised-button
                color="primary"
                (click)="onEditItemName()">
                <mat-icon>edit</mat-icon> item name
            </button>
        </div>
        <div class="image-input"
            *ngIf="editItemMode">
            <div class="header">item image</div>
            <input #fileInput
                style="display: none;"
                type="file"
                (change)="onItemImageFileInputChange($event)">
            <div class="image-container">
                <img [src]="item?.imageUrl"
                    alt="no image selected">
            </div>
            <button mat-raised-button
                color="primary"
                (click)="fileInput.click()">{{item?.imageUrl ? 'change image': 'select image file'}}</button>
            <button class="delete-image"
                *ngIf="item?.imageUrl"
                mat-raised-button
                color="warn"
                (click)="onDeleteImage()">delete image</button>
        </div>
        <div class="coordinates">
            <div class="header">coordinates</div>

            <div class="latitude"
                *ngIf="item?.latitude">
                <div class="title">latitude:</div>
                <div class="">{{item.latitude}}</div>
            </div>
            <div class="longitude"
                *ngIf="item?.longitude">
                <div class="title">longitude:</div>
                <div class="">{{item?.longitude}}</div>
            </div>
            <button mat-raised-button
                color="primary"
                (click)="onAddCoordinates()">
                <mat-icon>search</mat-icon>coordinates
            </button>

        </div>
        <div class="main-item">
            <div class="header">main item</div>
            <div class="current-status">
                <div class="title">current status:</div>
                <div class="">
                    {{item?.isMainItem}}
                </div>
            </div>
            <button mat-raised-button
                color="primary"
                (click)="onMainPage()">
                <mat-icon>search</mat-icon>main item
            </button>


        </div>
    </div>

    <div class="language-specific-content">

        <div class="header">Languages for item: <span>{{item?.name}}</span></div>
        <app-lsc-table [venueId]="venueId"
            [itemId]="itemId">
        </app-lsc-table>

        <button mat-raised-button
            color="primary"
            *ngIf="!addingLanguageMode && !languageSelectedMode"
            class="add-language"
            (click)="onAddLanguage()">add language</button>
        <mat-form-field *ngIf="addingLanguageMode">
            <mat-label>select language</mat-label>
            <mat-select (selectionChange)="onLanguageSelected($event)"
                [(ngModel)]="selectedLanguage">
                <mat-option *ngFor="let language of languages"
                    [value]="language">{{language}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <button class="back-to-venue-details"
        mat-raised-button
        color="primary"
        (click)="onBackToVenueDetails()">back to venue details</button>


</div>
