<div class="scanner-container">

    <zxing-scanner #scanner
        (scanSuccess)="scanSuccessHandler($event)">
    </zxing-scanner>

</div>
<div class="url">{{url}}</div>
<div class="button-container">
    <button mat-mini-fab
        color="primary"
        (click)="exit()">
        <mat-icon>exit_to_app</mat-icon>
    </button>
    <button mat-raised-button
        (click)="onNearestItem()">nearest item</button>
    <button mat-raised-button
        (click)="onBrug226()">brug 226</button>
    <button mat-raised-button
        (click)="onMuntsluis()">muntsluis</button>
</div>
