<div class="footer-container">

    <div (click)="onSelectLanguage()"
        class="flag {{getFlag(itemService.activeLanguage$|async)}}"
        style="color:white"></div>

    <!-- <button mat-raised-button
        (click)="onSelectLanguage()">select language</button> -->
    <!-- <button class="scanner"
        mat-raised-button
        >
    </button> -->
    <!-- <div class="language"
        style="color:white">{{itemService.activeLanguage$|async}}</div> -->

    <img class="scanner"
        (click)="onScanner()"
        src="./../../../../assets/icons/qr-code-icon-5.png"
        alt="">
</div>
