@import "./src/styles";

.toolbar {
    display: flex;
    padding: 0.3rem 0.5rem;
    justify-content: space-between;
    align-items: center;
    color: $header-font;
    letter-spacing: 1.1px;
    .mochuco-logo {
        width: 2.5rem;
        cursor: pointer;
    }
    .venue-logo {
        width: 2.5rem;
        cursor: pointer;
    }
    mat-icon {
        font-size: 2.1rem;
        color: white;
    }
}
