$green: #40c980;
$blue: #007acc;
$black: #1e1e1e;
$light-grey: #929293;
$orange: #c97e5a;
$yellow: #e2e210;
$red: #ff6058;

$background-color: #25252525;
$secondary-background: #2b2b2b2b;
$tertiary-background: #39393939;
$quarternary-background: #23232323;

$border-color: #ccc;
$my-black: black;
$my-white: white;
$my-gray: #ccc;
$my-red: red;
$my-blue: blue;
$header-background: #607845;
$header-font: #ffaf1b;
$footer-background: #ffa600;
