@import "./../../../../../../styles";

.lsc-container {
    border: 1px solid $my-gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem;
    gap: 1rem;
    .language-name-description {
        display: flex;
        justify-content: center;
        gap: 1rem;
        .language {
            width: 5rem;
            min-width: 5rem;
            // border: 1px solid orange;
        }
        .name {
            min-width: 10rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            // border: 1px solid orange;
        }
        .description {
            // border: 1px solid orange;
            white-space: nowrap;
            overflow: hidden;
            max-width: 20rem;
            text-overflow: ellipsis;
            // justify-content: left;
            align-items: start;
        }
    }
    .audio-buttons {
        display: flex;
        gap: 1rem;
        justify-content: center;
        audio {
            width: 5rem;
        }
        .delete {
        }
        .lsc-details {
        }
    }
}
