@import "./src/styles";

.admin-container {
    main {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        border: 1px solid;
        padding: 1rem;
        width: 40rem;
        margin: auto;
    }
    .header {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        .name,
        .status {
            display: grid;
            grid-template-columns: 1fr 3fr;
        }
    }
}
