<div class="admin-container">
    <div class="header">
        <div class="location">
            <div class="venue">
                <div class="title">venue:</div>
                <div class="">{{venue?.venueName}}</div>
            </div>
            <div class="item">
                <div class="title">item:</div>
                <div class="">{{item?.name}}</div>

            </div>
        </div>
        <button class="back-to-item"
            mat-raised-button
            (click)="onBackToVenueDetails()"
            color="primary">back to venue details</button>
    </div>
    <div class="filter-table"
        *ngIf="visits && visits.length > 0">

        <!-- <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput
                (keyup)="applyFilter($event)"
                placeholder="enter filter string"
                #input>
        </mat-form-field> -->

        <table mat-table
            [dataSource]="visitsDataSource">


            <ng-container matColumnDef="date">
                <th mat-header-cell
                    class="date-th"
                    *matHeaderCellDef>Date</th>
                <td mat-cell
                    class="data-td"
                    *matCellDef="let element"> {{element.timestamp|date: 'short'}} </td>
            </ng-container>

            <ng-container matColumnDef="liked">
                <th mat-header-cell
                    class="liked-th"
                    *matHeaderCellDef>Liked</th>
                <td mat-cell
                    class="liked-td"
                    *matCellDef="let element"> {{element.liked}} </td>
            </ng-container>

            <ng-container matColumnDef="delete">
                <th mat-header-cell
                    class="delete-th"
                    *matHeaderCellDef>Delete</th>
                <td mat-cell
                    class="delete-td"
                    *matCellDef="let element">
                    <mat-button mat-mini-fab
                        color="warn"
                        (click)="onDeleteVisit(element.id)">
                        <mat-icon>delete</mat-icon>
                    </mat-button>
                </td>
            </ng-container>




            <tr mat-header-row
                *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row
                *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row"
                *matNoDataRow>
                <td class="mat-cell"
                    colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>
    </div>
    <div class="no-languages"
        *ngIf="!visits || visits.length == 0">
        no languages specific content yet
    </div>
</div>
