@import "./src/styles";
.admin-container {
    main {
        margin: auto;
        max-width: 90rem;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto 1fr;
        gap: 2rem;
        .preview-container {
            grid-column-start: 1;
            grid-row-start: 1;
            grid-row-end: 3;
            width: 21rem;
            height: 35rem;
            overflow: hidden;
            border: 15px solid black;
            border-radius: 15px;
            app-preview {
            }
        }
        .location {
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 2;

            border: 1px solid $my-black;
            padding: 1rem;
        }
        .lsc {
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 3;
            border: 1px solid black;
            padding: 1rem;
            // display: flex;
            // flex-direction: column;
            display: grid;
            grid-template-columns: 1fr;
            gap: 1rem;
            align-content: flex-start;
            // .name {
            //     border: 3px solid red;
            //     display: grid;
            //     grid-template-columns: 1fr 1fr 4fr;
            //     .title {
            //     }
            //     button {
            //         grid-column-start: 2;
            //     }
            //     .content {
            //         grid-column-start: 3;
            //     }
            // }
            .name,
            .description,
            .audio {
                // border: 1px solid blue;
                padding: 0.3rem 0.5rem;
                background-color: $my-white;
                display: grid;
                grid-template-columns: 3fr 2fr 10fr;
                gap: 1rem;
                align-items: center;
                min-height: 56px;

                .col-1 {
                    // background-color: pink;
                    text-transform: uppercase;
                    width: 10rem;
                    // border: 1px solid black;
                }
                .col-2 {
                    // border: 1px solid black;
                    grid-column-start: 2;
                    .edit {
                        margin-right: 1rem;
                    }
                    // display: flex;
                    // gap: 1rem;
                }
                .col-3 {
                    align-items: center;
                    // border: 1px solid black;
                    grid-column-start: 3;
                }
            }
            .description .col-3 {
                max-height: 10rem;
                overflow: scroll;
            }
        }
        button {
            grid-column: span 3;
        }
    }
}
