<div class="admin-container">
    <div class="location header">
        <div class="venue">
            <div class="title">venue:</div>
            <div class="">{{venue.venueName}}</div>
        </div>
        <div class="item">
            <div class="title">item:</div>
            <div class="">{{item.name}}</div>
        </div>
        <div class="language">
            <div class="title">language</div>
            <div class="">{{language}}</div>
        </div>
    </div>
    <!-- <div class="editmode">EDITMODE: {{editmode}}</div> -->
    <form [formGroup]="nameForm">
        <mat-form-field>
            <mat-label>item name</mat-label>
            <input type="text"
                matInput
                formControlName="name">
        </mat-form-field>
        <button mat-raised-button
            (click)="onAddItemName()"
            [disabled]="nameForm.invalid">{{editmode?'save edits':'add name'}}</button>
        <button class="cancel"
            mat-raised-button
            (click)="onCancel()">cancel</button>
    </form>
</div>
