@import "./../../../styles";

.item-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;

    max-width: 35rem;

    margin: auto;
    app-sidebar {
        position: fixed;
        top: 0;
        z-index: 10;
        width: 50%;
        max-width: 35rem;
        background-color: $header-font;
        height: 100%;
        // position: fixed;
        // top: 1;
        // min-height: 100vh;
        // color: $my-white;
        padding: 1rem;
        // top: 0;
        // left: 0;
        // max-width: 50%;
        // z-index: 10;
        // overflow: scroll;
        // transition: width 0.5s;
    }
    app-about {
        position: fixed;
        z-index: 10;
        max-width: 35rem;
    }
    app-item-header {
        max-width: 35rem;
        // height: 3rem;
        position: fixed;
        z-index: 5;
        top: 0;
        width: 100%;
        background-color: $header-background;
        color: $my-white;
    }

    main {
        // scroll-behavior: smooth;
        background-color: $my-white;
        // overflow: scroll;

        padding: 3rem 0;
        .item-spinner-container {
            display: grid;
            gap: 1rem;
            // grid-template-columns: 1fr;

            justify-content: center;
            padding: 2rem;
            .item-spinner {
                margin: auto;
            }
            .loading-item {
                margin: auto;
            }
        }
        .img-like {
            position: relative;
            img {
                width: 100%;
            }
            .like {
                background-color: $header-background;
                color: $header-font;
                border: 3px solid $header-font;
                position: absolute;
                bottom: 1rem;
                right: 1rem;
            }
        }
        .lsc-spinner-container {
            display: grid;
            gap: 1rem;
            justify-content: center;
            padding: 2rem;
            .lsc-spinner {
                margin: auto;
            }
            .loading-lsc {
                margin: auto;
            }
        }
        .description {
            padding: 0.5rem 1rem;
        }
        .audio-container {
            display: flex;

            gap: 1rem;

            justify-content: center;
            margin-top: 1rem;
        }
    }
    app-item-footer {
        // padding: 0.5rem;
        max-width: 35rem;
        // height: 3rem;
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: $footer-background;
    }
}

.show-about {
    width: 100vw;
    left: 0;
    transition: left 0.5s;
}

.hide-about {
    width: 100vw;
    left: -100vw;
    transition: left 0.5s;
}

.show-sidebar {
    height: 200px;
    width: 100vw;
    left: 0;
    transition: left 0.5s;
}

.hide-sidebar {
    height: 200px;
    width: 100vw;
    left: -100vw;
    transition: left 0.5s;
}

// .hide-sidebar {
//     display: none;
// }
