@import "./../../../styles";
// .cols {
//     display: grid;
//     grid-template-columns: 1fr auto 1fr;
//     .col-2 {

.item-container {
    // outline: 3px solid red;

    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    height: calc(100vh - 3rem);
    max-width: 35rem;
    background-color: $my-white;

    margin: auto;
    app-sidebar {
        position: fixed;
        top: 0;
        z-index: 10;
        width: 50%;
        max-width: 35rem;
        background-color: $header-font;
        height: 100%;
        padding: 1rem;
    }
    app-about {
        position: fixed;
        z-index: 10;
        max-width: 35rem;
        width: 100vw;
    }
    .show-about {
        // width: 100vw;
        left: 0px;
        transition: left 0.5s;
    }

    .hide-about {
        left: -100vw;
        transition: left 0.5s;
    }

    app-item-header {
        max-width: 35rem;
        // height: 3rem;
        position: fixed;
        z-index: 5;
        top: 0;
        width: 100%;
        background-color: $header-background;
        // color: $my-white;
        // height: 4rem;
    }

    .item {
        .no-item {
            padding: 1rem;
        }
        // scroll-behavior: smooth;
        background-color: $my-white;
        // overflow: scroll;
        display: grid;
        grid-template-columns: 1fr;

        padding: 3rem 0;

        .item-spinner-container {
            display: grid;
            gap: 1rem;
            // grid-template-columns: 1fr;

            justify-content: center;
            padding: 2rem;
            .item-spinner {
                margin: auto;
            }
            .loading-item {
                margin: auto;
            }
        }
        .img-like {
            position: relative;
            img {
                width: 100%;
            }
            .like {
                background-color: $header-background;
                color: $header-font;
                border: 3px solid $header-font;
                position: absolute;
                bottom: 1rem;
                right: 1rem;
            }
            .liked {
                background-color: transparent;
                border: 3px solid lightgray;
                color: lightgray;
            }
        }
        .lsc-spinner-container {
            display: grid;
            gap: 1rem;
            justify-content: center;
            padding: 2rem;
            .lsc-spinner {
                margin: auto;
            }
            .loading-lsc {
                margin: auto;
            }
        }
        .description {
            padding: 0.5rem 1rem;
        }
        .audio-container {
            display: flex;

            gap: 1rem;

            justify-content: center;
            margin-top: 1rem;
        }
        .adjacent-items {
            padding: 1rem;
            .adjacent-items-list {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                .adjacent-item {
                    cursor: pointer;
                    border: 3px solid lightgray;
                    border-radius: 4px;
                    padding: 0.3rem;

                    display: flex;
                    .adjacent-item-distance {
                        // border: 1px solid black;
                        // align-items: flex-end;
                        // justify-content: end;
                        margin-right: 0;
                        margin-left: auto;
                    }
                }
            }
        }
    }
    app-item-footer {
        // padding: 0.5rem;
        max-width: 35rem;
        // height: 3rem;
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: $footer-background;
        height: 3rem;
    }
}
//     }
// }

// .show-about {
//     width: 100vw;
//     left: 0px;
//     transition: left 0.5s;
// }

// .hide-about {
//     width: 100vw;
//     left: -100vw;
//     transition: left 0.5s;
// }

.show-sidebar {
    height: 200px;
    width: 100vw;
    left: 0;
    transition: left 0.5s;
}

.hide-sidebar {
    height: 200px;
    width: 100vw;
    left: -100vw;
    transition: left 0.5s;
}
